
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recetario de Cocina</title>
    <link rel="icon" type="image/png" href="img/ico.png">
    <link rel="stylesheet" href="../css/style1.css">
</head>
<body>
    <nav>
        <a href="view/index.html">Inicio</a>
        <a href="view/Recetas.html">Recetas</a>
        <a href="view/Categoria.html">Categorías</a>
        <a href="view/Contacto.html">Contacto</a>
    </nav>


        <h1>Recetario</h1>
 

    <div class="container">
        <h2>Desayuno: Omelette de Verduras</h2>
        <p><strong>Ingredientes:</strong> 2 huevos, espinaca, tomate, cebolla, sal y pimienta.</p>
        <p><strong>Preparación:</strong> Bate los huevos y mezcla con las verduras picadas. Cocina en sartén a fuego medio hasta que esté dorado por ambos lados.</p>
        <img src="../img/omelet.jpeg" alt="Omelette de Verduras" width="300"> 
    </div>

    <div class="container">
         <h2>Almuerzo: Pasta Alfredo con Pollo</h2>
        <p><strong>Ingredientes:</strong> Pasta, pechuga de pollo, crema, mantequilla, ajo y queso parmesano.</p>
        <p><strong>Preparación:</strong> Cocina la pasta, saltea el pollo y luego añade crema y queso. Mezcla todo y sirve caliente.</p>
        <img src="../img/pasta.jpeg" alt="Pasta Alfredo con Pollo" width="300">
    </div>

    <div class="container">
        <h2>Cena: Ensalada Mediterránea</h2>
        <p><strong>Ingredientes:</strong> Lechuga, tomate cherry, pepino, queso feta, aceitunas y aceite de oliva.</p>
        <p><strong>Preparación:</strong> Mezcla todos los ingredientes en un bol y añade sal al gusto. Aliña con aceite de oliva.</p>
        <img src="../img/enslada.jpeg" alt="enslada" width="300">
        
    </div>

    <div class="container">
        <h2>Postre: Mousse de Chocolate</h2>
        <p><strong>Ingredientes:</strong> Chocolate negro, crema batida, huevos y azúcar.</p>
        <p><strong>Preparación:</strong> Derrite el chocolate, mezcla con las yemas, añade la crema y las claras montadas. Refrigera al menos 2 horas antes de servir.</p>
        <img src="../img/Mousse.jpeg" alt="Mousse" width="300">
    </div>
</body>
</html>
